* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*
----------------------------------------
Section for styling the header
----------------------------------------
*/

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Changes the style for the name Horiseon*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Color styling for the letters seo in the top of the page*/
.seo {
    color: #d9dcd6;
}

/*Navigation links styling*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*Changes the size for all the descriptive texts on the webpage*/
p {
    font-size: 16px;
}

/*Styling for the background image*/
.background{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Setting for moving images to the left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Setting for moving images to the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*
----------------------------------------
Section for styling the main contents
----------------------------------------
*/

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Modifies the position of each section in the main content*/
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*changes the styling of the main content headers*/
main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*changes the size and position of all the images in the main content*/
main section img {
    max-height: 200px;
}

/*
----------------------------------------
Section for styling the sidebar
----------------------------------------
*/

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/*Modifies the position of each section in the sidebar*/
aside section {
    margin-bottom: 32px;
}

/*changes the styling of the sidebar headers*/
aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*changes the size and position of the sidebar images*/
aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/*
----------------------------------------
Section for styling the footer
----------------------------------------
*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
